/* 회원가입 */
.signup-box {
    padding: 0;
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left:0;
}

.form-group label {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    width:150px;
    text-align: left;
    padding-right: 10px;
    margin-top:8px;
    margin-bottom: 0;
    color: #333;
    flex-shrink: 0;
}

.input-row {
    display: flex;
    align-items: center;
    gap: 8px;
    width:100%;
    margin-bottom: 5px;
}


/* 모든 입력 필드 동일한 크기 */
.signup-box input[type='text'],
.signup-box input[type='email'],
.signup-box input[type='password'] {
    width: 250px;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* 안내문 */
.guide-text {
    font-size: 13px;
    margin-top: 0;
    display: block;
    color: black;
    margin-left:0;
    text-align: left;
}

/* 에러 문구 */
.error-text {
    display: block;
    font-size: 13px;
    color: red;
    text-align: center;
    margin:0;
}

/* 중복확인 버튼 */
#check-email-btn {
    width: 90px;
    padding: 5px 8px;
    background-color: #FEF9D9;
    border-color: black;
}

#verify-code-btn{
    width:90px;
    padding: 5px 8px;
    border-color:black;
}

#send-code-btn {
    width: 110px;
    border-color: black;
}

#resend-code-btn {
    width:130px;
    padding: 5px 8px;
    border-color:black;
}

.signup-btn {
    background-color: #D2E0FB;
    width: 90px;
    margin: 0;
}

.button-group{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.input-content-group{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.small-btn {
    padding: 6px 10px;
    border: 1px solid #333;
    border-radius: 6px;
    background-color: #eee;
    cursor: not-allowed;
    transition: 0.3s;
}

.small-btn:enabled {
    cursor: pointer;
}

.small-btn:enabled:hover {
    background-color: #f5f5f5;
}

.small-btn.active {
    background-color: #4a90e2;
    color: white;
    cursor: pointer;
}