{% extends 'layout/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/changepw.css' %}">
{% endblock style %}

{% block content %}
<form id="changePwForm" method="post" class="signup-box" onsubmit="return false;">
  <h2 id ="pwTitle">비밀번호 변경</h2>
  {% csrf_token %}

  <!-- 기존 비밀번호 -->
  <div class="form-group">
    <label for="current_password">기존 비밀번호</label>
    <div class="input-content-group">
      <input type="password" id="current_password" name="old_password" required>
      <span id="current_password_error" class="error-message"></span>
    </div>
  </div>

  <!-- 새 비밀번호 -->
  <div class="form-group">
    <label for="new_password">새 비밀번호</label>
    <div class="input-content-group">
      <input type="password" id="new_password" name="new_password1" required>
      <span id="new_password_message" class="info-message">
        4~15자 사이의 영어 대/소문자, 숫자만을 사용하세요.
      </span>
    </div>
  </div>

  <!-- 새 비밀번호 확인 -->
  <div class="form-group">
    <label for="confirm_password">새 비밀번호 확인</label>
    <div class="input-content-group">
      <input type="password" id="confirm_password" name="new_password2" required>
      <span id="confirm_password_message" class="info-message"></span>
    </div>
  </div>

  <!-- 버튼 -->

  <div class="button-group" id="submit-group">
    <div id='error-message' class='error-message'></div>
    <button type="button" class="signup-btn" id="submitBtn">변경</button>
  </div>
</form>

<!-- ✅ 외부 JS 연결 -->
 {% include 'chat/changepw_modal.html' %}
<script src="{% static 'js/changepw.js' %}"></script>
{% endblock content %}
