{% extends 'layout/base.html' %}
{% load static %}

{% block title %}비밀번호 변경 | 떠나봄{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href = "{% static 'css/changepw.css' %}">
{% endblock extra_head%}


{% block content %}
  <main class="changepw-container">
    <h2>비밀번호 변경</h2>
    <form id='changepw-form' method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      <div class="form-box">
        <!-- 기존 비밀번호 -->
        <div class="form-row oldpw-row">
          <label for="oldPw">기존 비밀번호</label>
          <div class="input-box">
            <input type="password" id="oldPw" placeholder="기존 비밀번호 입력">
            <span id="oldpw-message" class="guide-text"></span>
          </div>
        </div>
      </div>
      <div class="form-box">
        <!-- 새 비밀번호 -->
        <div class="form-row newpw-row">
          <label for="newPw">새 비밀번호</label>
          <div class="input-box">
            <input type="password" id="newPw" placeholder="새 비밀번호 입력">
            <span id="pw1-message" class="guide-text">4~15자 사이의 영어 대/소문자, 숫자를 사용하세요.</span>
          </div>
        </div>
      </div>
      <div class="form-box">
        <!-- 새 비밀번호 확인 -->
        <div class="form-row confirmpw-row">
          <label for="confirmPw">새 비밀번호 확인</label>
          <div class="input-box">
            <input type="password" id="confirmPw" placeholder="비밀번호 재입력">
            <span id="pw2-message" class="guide-text"></span>
          </div>
        </div>
      </div>
    </form>
    <div id='out-of-form'>
      <div id="complete-message" class="guide-text"></div>
      <button id="completeBtn">완료</button>
    </div>
</div>
    
  </main>
  {% include 'chat/changepw_modal.html' with page_type='changepw' %}
  <script src="{% static 'js/changepw.js' %}"></script>
{% endblock content %}