{% extends 'layout/base.html' %}
{% load static %}
<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Chat Choice</title>
  <!-- <link rel="stylesheet" href="{% static 'css/chat_style.css' %}"> -->
</head>
<body>
{% block style %}
  <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock style %}

{% block content %}
{% comment %} 채팅 나오는 창 구현 {% endcomment %}
<div class="chat-container">
  <!-- 챗봇 메시지 -->
  {% if chat %}
  <div class="bot-message">
      <div class="message-bubble bot">{{ chat.area }}에서 누구와 어떤 여행을 하고 싶은지 저에게 알려주세요!!</div>
  </div>
  {% endif %}

  <!-- 사용자 메시지 -->
  {% for c in chat_log %}
  <div class="user-message">
      <div class="message-bubble user">
          {{ c.question }}
      </div>
  </div>

  <div class="bot-message">
      <div class="message-bubble bot">
        {{ c.answer }}
    </div>
  </div>
  {% endfor %}
</div>

<aside class="sidebar">
  <br></br>
  <div class="top-actions">
    <form action="{% url 'chat:logout' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn destructive">로그아웃</button>
    </form>
    <button type="button" class="btn primary" id="findPwBtn">비밀번호 변경</button>
    <button type='button' class="btn primary" id="newChatBtn">새 채팅</button>
    <button type='button' class="btn destructive" id="deleteChatBtn">삭제</button>
  </div>

  <div class="chat-list">
    {% for chat_item in chats %}
    <div class="chat-item {% if chat_item.id == active_chat_id %}active{% endif %}">
      <!-- 체크박스 -->
      <input type="checkbox" name="selected_chat" value="{{ chat_item.id }}">
      <!-- 날짜 텍스트 부분에만 링크 걸기 -->
      <div class="date">
        <a href="{% url 'chat:chat_main_with_id' chat_item.id %}" style="color:inherit; text-decoration:none;">
          {{ chat_item.created_at|date:"Y-m-d" }} {{ chat_item.area }}
        </a>
      </div>
    </div>
    {% empty %}
    <!-- <div class="chat-item"> -->
      <br>
      <div>
        채팅 기록이 없습니다.
      </div>
    <!-- </div> -->
    {% endfor %}
  </div>

  <a href="{% url 'chat:withdraw' %}" class="delete-account-btn">회원탈퇴</a>
</aside>

<div class="modal fade" tabindex="-1" id="newChatModal">
  {% include 'chat/chat_choice.html' %}
</div>
<div class="modal fade delete-chat-modal" tabindex="-1" id="deleteChatModal">
  <div class="modal-content small-modal">
    <div class="close">&times;</div>
    <h5>선택한 채팅을 삭제하시겠습니까?</h5>

    <div class="delete-buttons">
      <button id="deleteChat" class="deleteChat">확인</button>
    </div>
  </div>
</div>

<div class="style1">
  <textarea id="message" sendbox="메시지를 입력하세요" onkeyup="lettercount(this)" maxlength="500"></textarea>
  <span id="counter">(0/500)</span>
  <button class="send">전송</button>
</div>

<script>
    function lettercount(e) {
        const max = e.getAttribute('maxlength') || 500;
        const len = e.value.length;
        document.getElementById("counter").textContent = `(${len}/${max})`;
    }

    function getCookie(name) {
      if(document.cookie && document.cookie !== '') {
        // console.log(document.cookie);
        const cookies = document.cookie.split(';');
        // console.log('쿠키 길이:', cookies.length)

        for(let i=0;i<cookies.length;i++) {
          const cookie = cookies[i].trim();
          // console.log('쿠키 정보', i+1, cookie)

          if (cookie.substring(0, name.length) === name) {
            // console.log('쿠키:', cookie.substring(name.length + 1))
            return decodeURIComponent(cookie.substring(name.length + 1));
          }
        }
      }

      return null;
    }

    document.querySelector('.send').addEventListener('click', async () => {
        const textarea = document.getElementById('message');
        const sendBtn = document.querySelector('.send');
        const chatContainer = document.querySelector('.chat-container');
        const text = textarea.value.trim();
        if (text === '') return;

        // 전송 이후로 disable 시킴
        textarea.disabled = true;
        sendBtn.disabled = true;

        // 사용자 메시지 추가
        const userMsg = document.createElement('div');
        userMsg.classList.add('user-message');
        const userMsgBubble = document.createElement('div');
        userMsgBubble.classList.add('message-bubble', 'user');
        userMsgBubble.textContent = text;
        userMsg.appendChild(userMsgBubble);
        chatContainer.appendChild(userMsg);
        
        // 응답 중 메시지 추가
        const botMsg = document.createElement('div');
        botMsg.classList.add('bot-message');
        const botMsgBubble = document.createElement('div');
        botMsgBubble.classList.add('message-bubble', 'bot')
        botMsgBubble.textContent = '응답 생성중...';
        botMsg.appendChild(botMsgBubble);
        chatContainer.appendChild(botMsg);

        // 입력창 초기화
        textarea.value = '';
        document.getElementById("counter").textContent = "(0/500)";
        
        chatContainer.scrollTop = chatContainer.scrollHeight;

        // csrftoken을 cookie에서 추출 후 fetch로 POST 요청 보내기
        csrftoken = getCookie('csrftoken');
        const res = await fetch("{% url 'chat:save_message' %}", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken,
          },
          body: JSON.stringify({
            user_id: "{{ chat.user_id }}",
            chat_id: "{{ chat.id }}",
            question: text,
          }),
        });
        
        const data = await res.json();
        console.log(data);

        if(data.status === 'ok') {
          botMsgBubble.textContent = data.answer;
        }
        else {
          botMsgBubble.textContent = '오류 발생';
        }

        textarea.disabled = false;
        sendBtn.disabled = false;
        
        // 자동 스크롤
        chatContainer.scrollTop = document.querySelector('.chat-container').scrollHeight;
    });
</script>

<!-- top-actions btn 조작 관련 -->
<script>
  const newChatBtn = document.getElementById('newChatBtn');
  const newChatModal = document.getElementById('newChatModal');
  const newChatClose = newChatModal.querySelector('.close');
  const deleteChatBtn = document.getElementById('deleteChatBtn');
  const deleteChatModal = document.getElementById('deleteChatModal');
  const deleteChatClose = deleteChatModal.querySelector('.close');
  const findPwBtn = document.getElementById('findPwBtn');

  const group = document.getElementById('regionGroup');
  const submitBtn = document.getElementById('submitRegion');
  const deleteBtn = document.getElementById('deleteChat');  
    
  newChatBtn.addEventListener('click', () => {
    newChatModal.style.display = 'flex';
  });
  
  newChatClose.addEventListener('click', () => {
    newChatModal.style.display = 'none';
  });
  
  deleteChatBtn.addEventListener('click', () => {
    const del_chats = document.querySelectorAll('input[name="selected_chat"]:checked');
    if (del_chats.length === 0) {
        alert('삭제할 채팅을 먼저 선택해주세요.');
        return;
    }  
    deleteChatModal.style.display = 'flex';
  });
  
  deleteChatClose.addEventListener('click', () => {
    deleteChatModal.style.display = 'none';
  });

  group.addEventListener('click', (e) => {
      const btn = e.target.closest('.region-btn');
      if (!btn) return;

      // 모두 비활성화 후 현재만 활성화
      group.querySelectorAll('.region-btn').forEach(b => b.classList.remove('active'));
      btn.classList.add('active');

      // 완료 버튼 활성화
      submitBtn.disabled = false;
  });

  // 완료 클릭: 지역 저장 + 채팅 페이지로 이동
  submitBtn.addEventListener('click', async () => {
    const active = group.querySelector('.region-btn.active');
    if (!active) return; // 안전장치
    const region = active.dataset.region;
  
    // sessionStorage.setItem('selectedRegion', region);
    // const target = submitBtn.dataset.url; // 채팅 페이지 URL
    // const url = new URL(target, window.location.origin);
    // url.searchParams.set('region', region);    
    csrftoken = getCookie('csrftoken');
    const res = await fetch("{% url 'chat:create_chat' %}", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrftoken,
      },
      body: JSON.stringify({
        user_id: "{{ user_id }}",
        region: region,
      }),
    });
    
    // 3) 페이지 이동
    // window.location.href = url.toString;
    window.location.href = window.location.pathname;
  });

  deleteBtn.addEventListener('click', async () => {
    const del_chats = document.querySelectorAll('input[name="selected_chat"]:checked');

    const del_chat_ids = [];
    del_chats.forEach(checkbox => del_chat_ids.push(checkbox.value));

    csrftoken = getCookie('csrftoken');
    const res = await fetch("{% url 'chat:delete_chat' %}", {
      method: "DELETE",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrftoken,
      },
      body: JSON.stringify({
        user_id: "{{ user_id }}",
        del_chat_ids: del_chat_ids,
      }),
    });
    
    // 3) 페이지 이동
    // window.location.href = url.toString;
    window.location.href = window.location.pathname;
  });

  findPwBtn.addEventListener('click', async () => {
    window.location.href = "{% url 'uauth:findpw' %}"
  });

</script>

{% endblock content %}
</body>
</html>