{% comment %} {% load static %}
<header>
    <a href="{% url 'uauth:main' %}">
        <img src="{% static 'images/logo.png' %}"/>
    </a>
    <span>떠나봄</span>
</header> {% endcomment %}

{% load static %}
<header>
    {% if '/chat/' in request.path %}
        <a href="{% url 'chat:chat_main' %}">
            <img src="{% static 'images/logo.png' %}" alt="로고"/>
        </a>
    {% else %}
        <a href="{% url 'uauth:main' %}">
            <img src="{% static 'images/logo.png' %}" alt="로고"/>
        </a>
    {% endif %}
    <span>떠나봄</span>
</header>
